{% macro dga(ctx) -%}
{% if not ctx["skip_augs"] %}
{% if ctx["has_augs"] %}
Poincare polynomials for {{ ctx["name"] }} augmentations:
<ul>
  <li>Linearized: {% for p in ctx["lin_poly_list"] %}{{ p }}{% if not loop.last %}, {% endif %}{% endfor %}</li>
  <li>Biinearized: {% for p in ctx["bilin_poly_list"] %}{{ p }}{% if not loop.last %}, {% endif %}{% endfor %}</li>
</ul>
<table>
  <tr>
    <th>Aug indices</th>{% for j in range(ctx["n_augs"]) %}<th>{{ j }}</th>{% endfor %}
  </tr>
  {% for i in range(ctx["n_augs"]) %}
  <tr>
    <th>{{ i }}</th>{% for j in range(ctx["n_augs"]) %}<td {% if i == j %} style="background-color:#cdfaee" {% endif %}>{{ ctx["bilin_polys"][(i,j)] }}</td>{% endfor %}
  </tr>
  {% endfor %}
</table>
{# these are broken right now
<br>
Dual Poincare polynomials for {{ ctx["name"] }} augmentations
<table>
  <tr>
    <th>Aug indices</th>{% for j in range(ctx["n_augs"]) %}<th>{{ j }}</th>{% endfor %}
  </tr>
  {% for i in range(ctx["n_augs"]) %}
  <tr>
    <th>{{ i }}</th>{% for j in range(ctx["n_augs"]) %}<th>{{ ctx["bilin_polys_dual"][(i,j)] }}</th>{% endfor %}
  </tr>
  {% endfor %}
</table>
#}
<br>
{{ ctx["name"] }} has {{ ctx["n_augs"] }} augmentations
<table>
  <tr>
    {% for g in ctx["deg_0_gens"] %}
    <th>{{ g["name"] }}</th>
    {% endfor %}
  </tr>
  {% for aug in ctx["augs"] %}
  <tr>
    {% for g in ctx["deg_0_gens"] %}
    <td>{{ aug[g["name"]] }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
{% else %}
No non-trivial augmentations found for {{ ctx["name"] }}
{% endif %}
{% endif %}
<br><br>
<table>
  <tr>
    <th>{{ ctx["name"] }} generators</th>
    <th>Grading (over {% if ctx["grading_mod"] == 0 %}Z{% else %}Z/{{ ctx["grading_mod"] }}Z{% endif %})</th>
    <th>del (over {% if ctx["coeff_mod"] == 0 %}Z{% else %}Z/{{ ctx["coeff_mod"] }}Z{% endif %})</th>
  </tr>
  {% for g in ctx["generators"] %}
  <tr>
    <td>{{ g["name"] }}</td>
    <td>{{ g["grading"] }}</td>
    <td>{{ g["del"] }}</td>
  </tr>
  {% endfor %}
</table>
<br>
{%- endmacro %}