<!doctype html>
<body>
Lagrangian resolution of the plat:
<br><br>
<svg height="{{ height }}" width="{{ width }}">
  {% for line in lines %}
  <line
    x1="{{ line[0][0] }}" y1="{{ line[0][1] }}" x2="{{ line[1][0] }}" y2="{{ line[1][1] }}"
    style="stroke:rgb({{ line[2][0] }},{{ line[2][1] }},{{ line[2][2] }});stroke-width:4"
  />
  {% endfor %}
  {% for thing in x_labels %}
    <text x="{{ thing['x'] }}" y="{{ height }}">
      {{ thing["label"] }}
    </text>
  {% endfor %}
  {% for thing in y_labels %}
    <text x="{{ pad }}" y="{{ thing['y'] }}">
      {{ thing["label"] }}
    </text>
  {% endfor %}
</svg>
<br><br>
A total of {{ n_disks }} holomorphic disks of index=1 with asymptotics:
<br><br>
{% for d in disk_corners %}
  {% for c in d %}
    {{c.crossing.x}}{{c.CORNER_TYPES[c.corner]}}{% if not loop.last %}, {% endif %}
  {% endfor %}<br>
{% endfor %}
</body>
