<!doctype html>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>
Lagrangian resolution of the plat:
<br><br>
<svg height="{{ height }}" width="{{ width }}">
  {% for line in lines %}
  <line
    x1="{{ line['start_xy'][0] }}" y1="{{ line['start_xy'][1] }}" x2="{{ line['end_xy'][0] }}" y2="{{ line['end_xy'][1] }}"
    style="stroke:rgb({{ line['rgb'][0] }},{{ line['rgb'][1] }},{{ line['rgb'][2] }});stroke-width:4"
  />
  <text x="{{ line['label']['x'] }}" y="{{ line['label']['y'] }}">
      {{ line['label']['marker'] }}
  </text>
  {% endfor %}
  {% for thing in x_labels %}
    <text x="{{ thing['x'] }}" y="{{ height }}">
      {{ thing["label"] }}
    </text>
  {% endfor %}
  {% for thing in y_labels %}
    <text x="{{ pad }}" y="{{ thing['y'] }}">
      {{ thing["label"] }}
    </text>
  {% endfor %}
</svg>
<br><br>
Knots with classical invariants:
<br><br>
<table>
  <tr>
    <th>Label</th>
    <th>Color</th>
    <th>tb</th>
    <th>rot</th>
  </tr>
  {% for knot in knots %}
  <tr>
    <td>{{ knot["label"] }}</td>
    <td>
      <svg width="14" height="14">
        <circle cx="7" cy="7" r="7" fill="rgb({{ knot['rgb'][0] }},{{ knot['rgb'][1] }},{{ knot['rgb'][2] }})" />
      </svg>
    </td>
    <td>{{ knot["tb"] }}</td>
    <td>{{ knot["rot"] }}</td>
  </tr>
  {% endfor %}
</table>
<br><br>
Products of chords as lists of their x-coordinate (empty chord = unit = "[]"):
<br><br>
<table>
  <tr>
    <th>Chord</th>
    <th>Grading (Z/2Z)</th>
    <th>From knot</th>
    <th>To knot</th>
    <th>LCH del</th>
  </tr>
  {% for chord in chords %}
  <tr>
    <td>{{ chord["string"] }}</td>
    <td>{{ chord["Z2_grading"] }}</td>
    <td>{{ chord["from_knot"] }}</td>
    <td>{{ chord["to_knot"] }}</td>
    <td>{{ chord["lch_del"] }}</td>
  </tr>
  {% endfor %}
</table>
<br><br>
RSFT generators
<br><br>
<table>
  <tr>
    <th>Word of chords</th>
    <th>Grading (Z/2Z)</th>
  </tr>
  {% for word in rsft_generators %}
  <tr>
    <td>{{ word["string"] }}</td>
    <td>{{ word["Z2_grading"] }}</td>
  </tr>
  {% endfor %}
</table>
<br><br>
A total of {{ n_disks }} holomorphic disks of index=1 with asymptotics:
<br><br>
{% for d in disk_corners %}
  {% for c in d %}
    {{c.chord.top_line_segment.x_left}}{{c.CORNER_TYPES[c.corner]}}{% if not loop.last %}, {% endif %}
  {% endfor %}<br>
{% endfor %}
</body>
