<svg height="{{ height }}" width="{{ width }}">
  {% for line in lines %}
  <line x1="{{ line[0][0] }}" y1="{{ line[0][1] }}" x2="{{ line[1][0] }}" y2="{{ line[1][1] }}" style="stroke:rgb(255,0,0);stroke-width:2" />
  {% endfor %}
</svg>